block declare
mixin group(name, author, intro, img_href, intro_href, group_id)
  section
    a.image(href=group_id+'/'+intro_href)
      img(src=img_href, alt='', data-position='center center')
    .content
      .inner
        header.major(style="width:initial")
          h3.chfont #{name}&nbsp;
            font(style="font-size: 0.8em") By #{author}
        p.chfont !{intro}
        ul.actions
          li
            a.button(href='/project/' + group_id + '/' + intro_href) Learn more
doctype html
html
  include head.pug
  body
    // Wrapper
    #wrapper
      include nav.pug
      // Banner
      // Note: The "styleN" class below should match that of the header element.
      section#banner(class=style)
        .inner
          span.image.small
            img(src='/images/pic07.jpg', alt='')
          header.major
            h1
              font.chfont #{ch_subject}
              | &nbsp;&nbsp;#{en_subject}
          .content
            p.chfont.small(style="text-transform:none")
              block quote
      // Main
      #main
        // One
        section#one
          .inner
            header.major
              h2.chfont #{ch_subject}組成員
            span.image.fit
              img(src=subject_img)
            p.chfont
              block intro
        // Two
        section#two.spotlights
          each gp in group_list
            +group(gp.name, gp.author, gp.intro, gp.img_href, gp.intro_href, group_id)
        // Three
        section#three
          .inner
            header.major
              h2.chfont 返回首頁
            ul.actions
              li
                a.button.next(href='/') Back to home

      include footer.pug
  include js.pug
